#profilPng {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

#profilOps img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%; /* Adjust the initial width as needed */
    height: auto;
    transition: transform 0.3s; /* Smooth transition over 0.3 seconds */
}

#profilOps img:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.leaderboard {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.name {
    flex-grow: 1;
}

.score {
    margin-left: 20px;
}


