body {
    background-image: url('../assets/Background3.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
    overflow-y: hidden;
}


.container{
    display: flex;
    flex-direction: column;
    width: 60%;
    /*max-width: 600px;*/
    margin: auto;
    background: transparent;
    padding-bottom: 30px;
    margin-top: 20px;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.header img{
    
    height: 150px;
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    /*width: 90%;
    max-width: 480px;
    height: 60px;*/
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password span{
    padding-left: 62px;
    margin-top: 27px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.811);
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #005BBB;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}
.text{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}